.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  padding: 20px;
  gap: 20px;
  text-align: center;
}

.image-section {
  width: 100%;
  max-width: 100%; /* Ensure images scale with the container */
}

.main-section {
  width: 100%;
  max-width: 100%; /* Ensure content scales with the container */
}

.image-section img {
  width: 100%;
  max-width: 100%; /* Ensure images take full width */
  height: auto; /* Maintain aspect ratio */
}

.main-section h2 {
  color: #0C1C8D;
  font-size: 2rem; /* Increase font size for heading */
}

.main-section p {
  font-size: 1rem; /* Adjust font size for paragraph */
  line-height: 1.5; /* Improve readability with increased line height */
}

/* Adjustments for small screens */
@media (max-width: 768px) {
  .dashboard {
    padding: 10px; /* Reduce padding on smaller screens */
  }

  .main-section h2 {
    font-size: 1.5rem; /* Decrease font size for heading on smaller screens */
  }

  .main-section p {
    font-size: 0.9rem; /* Decrease font size for paragraph on smaller screens */
  }
}

.menu h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: black;
  margin-bottom: 10px;
  text-align: center;
}
.menu {
  width: 90%;
}
.menu .menu-container {
  width: 100%;
  height: auto; 
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: start;
  gap: 1rem;
  overflow: hidden;
  padding: 10px;

  
}

.label{
  display: flex;
  gap: 20px;
  width: 100%;
 justify-content: center;
      /* border: 1px green solid; */
}
.description{
  display: flex;
  gap: 20px;
  width: 100%;
 justify-content:center;
      /* border: 1px red solid; */
}

.card {
  width: 20rem;
  height: 20rem;
  border: 0.1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.card .image-container {
  width: 100%;
  height: 60%;
  overflow: hidden;
}

.card .image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
