@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.login-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
}

.main-login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.login-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.example-credentials {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
}

.example-credentials p {
    margin: 0;
    padding: 3px 0;
    font-size: 14px;
}

.login-forms {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 100%;
}

.login-forms .login-button {
    margin-top: 10px;
    width: 100%;
    height: 56px;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.login-forms .login-button:hover {
    cursor: pointer;
}

.login-forms .login-button.sign-in:hover {
    background-color: #ccc; /* Gray on hover */
}

.login-forms .login-button.cancel:hover {
    background-color: #f44336; /* Red on hover */
}

.login-forms .login-button.register:hover {
    background-color: #ccc; /* Black on hover */
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center;
}

p {
    margin: 0;
    font-size: 16px;
    color: #666;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;

}
