.add-button {
    background-color: black !important;
    color: white !important;
    transition: background-color 0.3s;
  }
  
  .add-button:hover {
    background-color: gray !important;
  }
  
  .add-button,
.view-modal .MuiButtonBase-root {
  background-color: black !important;
  color: white !important;
  transition: background-color 0.3s;
}

.add-button:hover,
.view-modal .MuiButtonBase-root:hover {
  background-color: gray !important;
}

.header h2 {
    color: black;
  }