.navbar {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  position: sticky;
  height: 80px;
  top: 0;
  width: 100%; /* Full width */
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo-img img {
  max-width: 100%; /* Ensure logo scales with the container */
  height: auto;
  margin-right: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; /* Full width */
  max-width: 500px; /* Limit maximum width */
  font-size: 16px;
  margin-right: 10px;
}

.search-button {
  padding: 10px 20px;
  background-color: #191a19;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  background-color: #9c9c9c;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 20px; /* Adjust margin */
}

.navbar-link {
  color: #ee3928;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-link:hover {
  background-color: rgb(143, 140, 140);
  color: #f55648;
}

@media (max-width: 768px) {
  .search-bar {
    margin-left: auto; /* Move search bar to the right on smaller screens */
  }

  .navbar-links {
    flex-wrap: wrap; /* Allow links to wrap onto new lines */
    justify-content: flex-end; /* Align links to the right */
    gap: 10px;
    margin-right: 0; /* Reset margin */
  }

  .search-input {
    max-width: none; /* Allow search input to take full width on smaller screens */
    width: auto;
    margin-right: 0;
  }
}

