@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

* {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'Merriweather', serif;
  background-color: #f9f6f1;
  color: #3e2723;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
    gap: 20px;
    padding: 10px;
  }

  .navbar-btn {
    flex-direction: column;
    gap: 10px;
  }
}